/* Подключение шрифта  'Source Serif Pro'*/

/* connect fonts - Montserrat medium 500, Montserrat bold 700, Roboto Mono 500 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto+Mono:wght@400&display=swap");

body {
  font-family: Montserrat, Serif; /* Семейство шрифтов */
  font-size: 1em; /* Размер основного шрифта в пунктах  */
  font-weight: 500;
  background: white;
  color: #333; /* Цвет основного текста */

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #3dabf5;
}

body > div {
  max-width: 28cm;
  width: 100%;
}

body > div > img {
  width: 60%;
}

body > div > p {
  text-align: justify; /* Выравнивание по ширине */
  word-break: break-word;
  line-height: 1.6em;
}

body > div > p > span {
  font-family: "Roboto mono", Monospace;
  background-color: #f5f2f0;
  font-size: 0.9em;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-color: rgb(222, 222, 220);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header > div > p {
  font-weight: bold;
}

.article > p {
  text-align: justify; /* Выравнивание по ширине */
  word-break: break-word;
  font-weight: normal;
  line-height: 1.6em;
}

.article h2 {
  line-height: 1.5em;
  border-bottom-color: rgb(222, 222, 220);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.article h3 {
  line-height: 1.5em;
  border-bottom-color: rgb(222, 222, 220);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.article ul {
  margin-left: 30px; /* Отступ слева */
  margin-right: 40px;
  text-align: justify; /* Выравнивание по ширине */
  word-break: break-word;
  font-weight: normal;
  line-height: 1.4em;
}
