/* Подключение шрифта  'Source Serif Pro'*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@500&display=swap");

body {
  font-family: "Source Serif Pro", Serif; /* Семейство шрифтов */
  font-size: 1em; /* Размер основного шрифта в пунктах  */
  background: white;
  color: #333; /* Цвет основного текста */

  margin: 0px;

  line-height: 1.7em; /* Высота строки */
  letter-spacing: 0.07em; /* Зазор между буквами */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #3dabf5;
}

div > p {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header > div > p {
  font-weight: bold;
}

.post {
  max-width: 20cm;
  background: white;
  line-height: 1.6em;
  font-weight: bold;
  color: #333;
}

.post > p {
  text-align: justify; /* Выравнивание по ширине */
  word-break: break-word;
  font-weight: normal;
}

.post > p > span {
  margin-left: -30px;
}

.A4 {
  max-width: 20cm;
  background: white;
  line-height: 1.6em;
  font-weight: bold;
  color: #333;
}

.A4 a {
  line-height: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #3dabf5;
}

/* Основной текст */
.plain {
  text-align: justify; /* Выравнивание по ширине */
  margin-left: 30px; /* Отступ слева в пикселах */
  margin-right: 30px; /* Отступ справа в пикселах */
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-word;
  font-weight: normal;
}

/* Заголовок темы или раздела */
.section {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  /* word-break: break-all; */
  line-height: 1.7em;
}

/* Заголовок подраздела */
.subsection {
  word-break: break-word;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.7em;
}

/* 
    Уменьшеный текст. Для комментариев, ссылок (не активных)
    на исходные материалы и т.д. 
*/
.small {
  font-size: 0.7em;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
    font-size: 1em;
  }
  /* Исключем из печати верхнее и нижнее меню */
  .menu,
  .menu * {
    display: none !important;
  }
}
